@tailwind base;
@tailwind utilities;
@tailwind components;
/* input[type="password"]::-ms-clear,
input[type="password"]::-ms-reveal {
  display: none;
}
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
} */

/* Force override for daisyUI border-radius issues */
.btn-circle {
  border-radius: 9999px; /* Replaced calc(infinity * 1px) with Tailwind's default rounded-full value */
  height: var(--size);
  padding-inline: 0;
  width: var(--size);
}
